[user]
  name = alyssaq
  email = <>
[core]
  editor = /usr/bin/vim
  excludesfile = ~/.gitignore
  whitespace = space-before-tab,-indent-with-non-tab,trailing-space
  trustctime = false
  precomposeunicode = false
[push]
  default = simple
[grep]
  lineNumber = true
[color "diff"]
  meta = yellow
  frag = magenta # line info
[color "status"]
  added = yellow
  untracked = cyan
[rebase]
  autoStash = true
  autoSquash = true
  stat = true
[alias]
  # View abbreviated SHA, description, and history graph of the latest 20 commits
  l = log --pretty=oneline -n 20 --graph --abbrev-commit
  # View the current working tree status using the short format
  s = status -s
  # Show the diff between the latest commit and the current state
  d = !"git diff-index --quiet HEAD -- || clear; git --no-pager diff --patch-with-stat"
  ls = ls-files
  co = checkout
  st = status
  ca = commit --amend
